---
permalink: "sitemap-seo.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://scent-wise.com/perfumes/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://scent-wise.com/brands/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://scent-wise.com/notes/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- for p in perfumes %}
  <url>
    <loc>https://scent-wise.com/perfumes/{{ p.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor %}
  {%- for b in brands %}
  <url>
    <loc>https://scent-wise.com/brands/{{ b.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
  {%- for n in notes %}
  <url>
    <loc>https://scent-wise.com/notes/{{ n.slug }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
</urlset>
